ZOOM_CLIENT_ID=YOUR_CLIENT_ID
ZOOM_CLIENT_SECRET=YOUR_CLIENT_SECRET
ZOOM_BOT_JID=YOUR_BOT_JID
ZOOM_WEBHOOK_SECRET_TOKEN=YOUR_WEBHOOK_SECRET_TOKEN
ANTHROPIC_API_KEY=YOUR_ANTHROPIC_API_KEY
robot_ZOOM_BOT_JID=https://zoom.us/launch/chat?jid=robot_YOUR_BOT_JID